@{
    ViewData["Title"] = "Detalles de la app";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página fue realizada por Federico Rojas y Nahuel Armesto mediante Visual Studio usando el modelo MVC de ASP.Net Core y Entity Framework.</p>
